<div class="filter-menu" *ngIf ="isFilterWindowOpen">
  <div class="padding-menu">
    <mat-form-field appearance="fill" class="filter-input">
      <mat-label>Choose search type</mat-label>
      <mat-select [(value)]="_selectedType">
        <mat-option value="Occurrences">Word Frequency</mat-option>
        <mat-option value="Sentiment">Speaker Sentiment</mat-option>
        <mat-option value="Meetings">Meetings Frequency</mat-option>
        <mat-option value="Speeches">Speeches Frequency</mat-option>
        <mat-option value="Words">Words Quantity</mat-option>
        <mat-option value="Resolutions">Resolutions Quantity</mat-option>
        <mat-option value="Sovereignty">Sovereignty Citation</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-input">
      <mat-label>Enter a Year range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" [(ngModel)]= "_lowerYear">
        <input matEndDate placeholder="End date" [(ngModel)]= "_higherYear">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div *ngIf = "_selectedType == 'Occurrences'">
      <mat-form-field class="filter-input">
        <mat-label>Write wanted words</mat-label>
        <textarea matInput placeholder="Ex. Ukraine Russia Donetsk..." [(ngModel)] = "_selectedWords"></textarea>
      </mat-form-field>
    </div>    
    <div class="filter-input">
      <button class="filter-button" mat-raised-button color="primary" (click)="submit()">Search</button>
    </div>
  </div>
</div>