<div class="speech-bar">
  <div class="speech-div" *ngFor="let speech of data">
    <p class="speech-line"><b>Agenda:</b> {{ speech.agenda }}</p>
    <p class="speech-line">
      <b>Data:</b> {{ speech.date.toLocaleDateString() }}
    </p>
    <p class="speech-line"><b>Qtd:</b> {{ speech.countedWords.total }}</p>
    <p class="speech-line"><b>Amostra:</b> {{ speech.text }}</p>

    <a target="_blank" href="{{ speech.url }}">
      <button class="speech-button speech-left-button">Open in ONU</button>
    </a>
    <button class="speech-button speech-right-button">Open Here</button>
  </div>

  <mat-card class="speech-div2" *ngFor="let speech of data">
    
      <div class="row">
        <div class="col-8">
          <p class="speech-title">{{speech.agenda}}</p>
          <p>{{speech.date.toLocaleDateString()}}</p>
        </div>
        <div class="col-4">
          <p>{{speech.countedWords.total}}</p>
        </div>
      </div>    
    <mat-card-content class="speech-content">
      <p >{{ speech.text }}</p>
    </mat-card-content>
  </mat-card>
</div>
