<div class="speech-bar">
  <mat-expansion-panel
    *ngIf="data.length != 0"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header class="speech-sort-button">
      <mat-panel-title class="speech-sort-title">
        Speechs Order
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-group
        [(ngModel)]="selectedSort"
        (change)="handleButtonClick()"
      >
        <mat-radio-button class="radio-options" value="0"
          >Chronological Order</mat-radio-button>
        <mat-radio-button class="radio-options" value="1"
          >Reverse Chronological Order</mat-radio-button>
        <mat-radio-button class="radio-options" value="2"
          >Ascending Order</mat-radio-button>
        <mat-radio-button class="radio-options" value="3"
          >Descending Order</mat-radio-button>
      </mat-radio-group>
    </mat-radio-group>
  </mat-expansion-panel>

  <div class="speech-div" *ngFor="let speech of data">
    <p class="speech-line"><b>Agenda:</b> {{ speech.agenda }}</p>
    <p class="speech-line"><b>Data:</b> {{ speech.date }}</p>
    <p class="speech-line"><b>Qtd:</b> {{ speech.countedWords.total }}</p>
    <p class="speech-line"><b>Amostra:</b> {{ speech.text }}</p>

    <a target="_blank" href="{{ speech.url }}">
      <button class="btn btn-info speech-button speech-left-button">
        Open in ONU
      </button>
    </a>
    <button class="btn btn-secondary speech-button speech-right-button">
      Open Here
    </button>
  </div>
</div>
