.navbar-container{
  background-color: #5b92e5;
  height: 8vh;
  width: 100vw;
  display: flex;
  text-align: center;
  z-index: 2;
}

.title{
  display: block;
  color: white;
  margin: 0;
  width: 30vw;
  margin-right: 5vw;
  line-height: 8vh;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.onu-img{
  width: 8.5vw;
  height: 8vh;
}

.scale-div{
  position: relative;
  width: 16.5vw;
  height: 8vh;
}

.scale{
  width: 15vw;
  height: 4vh;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.radio-options{
  color: white !important;
  display: block;
}

mat-radio-group::before mat-radio-group::after{
  color: white !important;
}

.speech-sort-title{
  color: white;
  font-size: 2rem;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.speech-sort-button{
  height: 8vh;
}

mat-expansion-panel{
  background-color: #5b92e5;
  width: 20vw;
  border: solid white;
  border-width: 0 0 0 2px;
  border-radius: 0;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 2;
  text-align: left;
}