.navbar{
  background-color: #5b92e5;
  height: 8.5vh;
  width: 75vw;
  display: flex;
  text-align: center;
}

.title{
  display: block;
  color: white;
  margin: 0;
  width: 25vw;
  margin-right: 5vw;
  line-height: 8.5vh;
}

.onu-img{
  width: 8.5vw;
  height: 8.5vh;
}

.scale-div{
  position: relative;
  width: 16.5vw;
  height: 8.5vh;
}