.grid-parent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 11.5fr;
  grid-template-areas: 
  "navbar navbar navbar sidebar"
  "heatmap heatmap heatmap sidebar"
  "heatmap heatmap heatmap sidebar"
  "heatmap heatmap heatmap sidebar";
  width: 100vw;
  height: 100vh;
}

.navbar{
  grid-area: navbar;
}

.sidebar{
  grid-area: sidebar;
}