.grid-parent{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 11.5fr;
  grid-template-areas: 
  "navbar sidebar"
  "heatmap sidebar";
  width: 100vw;
  height: 100vh;
}

.navbar-div{
  grid-area: navbar;
}

.heatmap-div{
  grid-area: heatmap;
}

.sidebar-div{
  grid-area: sidebar;
}