<div class="speech-bar">
  <mat-card class="card" *ngFor="let speech of data">
    <mat-card-header>
      <mat-card-title class="speech-title">{{speech.id}}</mat-card-title>
      <mat-card-subtitle class="speech-date">{{
        speech.date.toLocaleDateString()
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>{{textPt1 + (speech[columnName]? speech[columnName] : "") + textPt2}}</p>
      <p class="scrollable-card-content">{{speech.text}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button-un">Open in UN</button>
      
    </mat-card-actions>
  </mat-card>
</div>
